@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');


.title{
    font-size: 50px;
    font-family: Montserrat, sans-serif;
    color:#F4F6F8;  
}

.paragraph{
    font-size: 20px;
    font-family: Open Sans, sans-serif;
    color:#F4F6F8;  
}

body{
    background-color: #0F1C2E;
}

.quote{
    font-size: 100px;
    font-family: Montserrat, sans-serif;
    color:#E63946;  
    text-align: center;
}